* {
  box-sizing: border-box;
}
.outerBlock {
  border: 5px solid blue;
  height: 50vw;
}
.flexParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.innerBlock {
  border: 5px solid red;
  padding: 5px 30px;
  font-size: 2rem;
}
.flexChild {
}
.child1{
  /* margin-right: auto; */
}
.child4{
  /* margin-left: auto; */
}